*.csv
*.txt
*.obj
*.idb
*.pdb
ValNet/.vs/ValNet/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.exe
*.recipe
*.ilk
*.log
*.tlog
ValNet/Debug/ValNet.vcxproj.FileListAbsolute.txt
ValNet/ValNet.sln
ValNet/ValNet.vcxproj
ValNet/ValNet.vcxproj.filters
ValNet/ValNet.vcxproj.user
